player-connection-mode=Connect
player-connection-guid=2285115030
player-connection-debug=1
player-connection-project-name=RobotTigerTiger
player-connection-wait-timeout=-1
player-connection-ip=26.38.113.97
player-connection-ip=192.168.42.203
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
wait-for-managed-debugger=1
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=1d769ec9ca084777958bbc4bad4d9cef
